# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Ignore large PDFs >40MB that exceed GitHub limits
public/catalogues/Mirage/catalogue-jewels-2-0-pdf.pdf
public/catalogues/Mirage/catalogue-jurupa-pdf.pdf
public/catalogues/Mirage/catalogue-elysian-pdf.pdf
public/catalogues/Inkiastro Bianco/CATALOGO_MATERIAPRIMA_2026_2a.pdf

